body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
@media (max-width: 360px){
    

  #root{
      width: 1200px;
  }
}

@media (max-width: 500px){
    

  #root{
      width: 1200px;
  }
}

